<h3>Sign In</h3>
<form [formGroup]="SignInForm" novalidate class="form" (ngSubmit)="signIn()">

  <label class="label">
    Email
    <input
      type="email"
      class="input"
      formControlName="email"
    />
  </label>
  <label class="label">
    Password
    <input
      type="password"
      class="input"
      formControlName="password"
    />
  </label>
  <button class="btn-send" type="submit">Send</button>
</form>
