<div class="wrapper">
  <div class="header">
    <h1 class="title">Something.com</h1>
    <div class="sign-btns-group">
      <button class="btn btn-signIn" (click)="goToSingIn()">Sign In</button>
      <button class="btn btn-signUp" (click)="goToSingUp()">Sign Up</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>