.title {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 50px 0
}

.btn-signIn {
  background-color: #66BB6A;
}
.btn-signUp {
  background-color: #FFD54F;
}