.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.input {
  flex-basis: 60%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
}

.input.ng-touched.ng-invalid {
  border:solid lightcoral 1px;
}
.input.ng-touched.ng-valid {
  border:solid lightgreen 1px;
}
