<h3>Sign Up</h3>
<form [formGroup]="SignUpForm" novalidate class="form" (ngSubmit)="signUp()">
  <label class="label">
    Name
    <input
      type="text"
      class="input"
      formControlName="name"
    />
  </label>
  <label class="label">
    Email
    <input
      type="email"
      class="input"
      formControlName="email"
    />
  </label>
  <label class="label">
    Password
    <input
      type="password"
      class="input"
      formControlName="password"
    />
  </label>
  <button class="btn-send" type="submit">Send</button>
</form>
