.wrapper {
  max-width: 680px;
  min-width: 320px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.list {
  padding-left: 0;
  list-style: none;
}
.list-item {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.list-item:hover {
  background-color: #EEEEEE;
}
.item-group {
  display: flex;
  justify-content: space-between;
}
.btn-edit {
  background-color: lightgreen;
}
.btn-delete {
  background-color: lightcoral;
}
.btn-add {
  padding: 10px;
  background-color: #FFD54F;
}
.btn-logout {
  padding: 10px;
  background-color: #BDBDBD;
}
.top-panel {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input {
  width: 100%;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.add-new-line-group input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
input{
  outline: none;
  padding: 5px;
}