<div class="wrapper">
  <h1 class="title">Hi {{auth.user.name}}</h1>
  <div class="top-panel">
    <div class="add-new-line-group">
      <form  #addForm="ngForm" (ngSubmit)="add(addForm)">
        <input type="text" [(ngModel)]="newItem.text" name="newTodo" required>
        <button class="btn-add btn" type="submit">Add line</button>
      </form>
    </div>
    <button class="btn-logout btn" (click)="logout()">Log out</button>
  </div>
  <ul class="list">
    <li class="list-item" *ngFor="let item of items; let i = index;">
      <div class="item-group" *ngIf="item.id !== editItem?.id">
        <div class="list-item-text">
          {{item.text}}
        </div>
        <div class="buttons-group">
          <button class="btn-edit btn" (click)="edit(i)">Edit</button>
          <button class="btn-delete btn"(click)="delete(item.id, i)">Delete</button>
        </div>
      </div>
      <form
        #editForm="ngForm"
        (ngSubmit)="approve(editForm)"
        class="input-group"
        *ngIf="editItem && item.id === editItem.id"
      >
        <input type="text" [(ngModel)]="item.text" name="editTodo" required>
        <button class="btn-approve btn" type="submit">Approve</button>
      </form>
    </li>
  </ul>
</div>