/* You can add global styles to this file, and also import other style files */
body {
  background: url('./assets/images/Background-Free-Download.jpg') no-repeat center/cover;
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
app-root {
  flex-grow: 1;
}

.wrapper {
  max-width: 680px;
  min-width: 320px;
  margin: 0 auto;
}

.btn {
  border:none;
  border-radius: 3px;
  outline: none;
  padding: 5px;
}

.btn-send {
  padding: 10px 50px;
  border: none;
  background-color: #1E88E5;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  margin-top: 50px;
}